:root {
  --flex-direction: row;
  --justify-content: flex-start;
  --align-items: center;
  --flex-grow-item-1: 0;
  --flex-grow-item-2: 0;
  --flex-grow-item-3: 0;
  --flex-grow-item-4: 0;
  --flex-grow-item-5: 0;  
  --flex-shrink-item-1: 1;
  --flex-shrink-item-2: 1;
  --flex-shrink-item-3: 1;
  --flex-shrink-item-4: 1;
  --flex-shrink-item-5: 1;
}

/*
  misc styles, nothing to do with CSS variables
*/

body {
  margin: 30px;
}

h1, h2 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: var(--justify-content);
  align-items: var(--align-items);
  flex-direction: var(--flex-direction);
  border: 4px solid #a6a6d4;
  height: 500px;
}

.controls {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  font-size: 120%;
}

.radio-variable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px 10px;
}

.radio-list-items {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.radio-list-title {
  font-weight: bold;
}

.radio-item {
  margin-top: 2px;
}

.button-control {
  padding: 2px;
  margin: 4px;
  font-size: 90%;
}

.radio-list-title-container {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  padding: 2px 12px 1px 7px;
  border: 2px solid #c5c545;
  color: #86941d;
  margin: 5px;
  font-size: large;
  border-radius: 11px;
  width: 3px;
  cursor: default;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 5px 14px;
  border: 8px solid #5e5ebf;
  margin: 5px;
  font-size: large;
}

.item p {
  margin: 0 0 0 0;
  font-size: 14px;
  flex-shrink: 1;
}

.item-1 {
  font-size: 140%;
  flex-grow: var(--flex-grow-item-1);
  flex-shrink: var(--flex-shrink-item-1);
}
.item-2 {
  font-size: 110%;
  flex-grow: var(--flex-grow-item-2);
  flex-shrink: var(--flex-shrink-item-2);
}
.item-3 {
  font-size: 120%;
  flex-grow: var(--flex-grow-item-3);
  flex-shrink: var(--flex-shrink-item-3);
}
.item-4 {
  font-size:130%;
  flex-grow: var(--flex-grow-item-4);
  flex-shrink: var(--flex-shrink-item-4);
}
.item-5 {
  font-size: 150%;
  flex-grow: var(--flex-grow-item-5);
  flex-shrink: var(--flex-shrink-item-5);
}

@media (max-width: 450px) {
  .controls {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px 0;
    font-size: 100%;
    flex-wrap: wrap;
  }

  .main-container {
    display: flex;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    flex-direction: var(--flex-direction);
    border: 4px solid #a6a6d4;
    height: 300px;
  }

  .item {
    padding: 3px 10px;
    border: 5px solid #5e5ebf;
    margin: 4px;
    font-size: large;
  }
}
